body {
    background: #eee;
    text-align: center;
    padding: 0 25px;
    font-family: arial, sans-serif;
}

#main, #chats {
    width: 800px;
    margin: auto;
    text-align: left;
    background: #80a6e6;
    padding: 30px 60px;
    border: solid #ddd;
    border-width: 0 1px 1px 1px;
    border-radius: 4px;
}

#logo {
  position: relative;
  float:right;
  width: 75px;
  height: 75px;
  background-image: url(../images/chatterboxLogo.png);
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: top;
}

#main h1 {
    margin-top: 0;
    font-color: green;
    font-size: 35px;
    margin-bottom: 5px;
    padding: 5px;
    text-shadow: 1px 2px 2px white;

}

#main h1 span {
    font-style:italic;
}

#main ul {
    padding-left: 20px;
}

#main .error {
    border: 1px solid red;
    background: #FDEFF0;
    padding: 20px;
}

#main .success {
    margin-top: 25px;
}

#main .success code {
    font-size: 12px;
    color: green;
    line-height: 13px;
}

#chats {
  height: auto;
}

form {
    padding: 20px;
    padding-left: 0;
    margin-bottom: 20px;
    align-content: center;
}

.chatrooms {
  position: relative;
  width: 40%;
  align-self: right;
  margin: auto;
  margin-bottom: 15px;
  height: 20px;
  border: 1px solid black;
  border-radius: 2px;
}

.chat {
    padding: 5px;
    margin-bottom: 5px;
    background-color: #eee;
}

.chat .username {
    font-weight: 800;
}

.chat:hover {
    background-color: #ddd;
}

.spinner {
    float: right;
    height: 46px;
    margin-bottom: 5px;
}

.spinner img {
    padding: 10px;
}

.friend {
    color: #fff;
    background-color: #0090da;
}

.enter {
    width: 100%;
}

.chatInput {
  outline: none;
    margin-right: 10px;
    width: 100%;
    font-size: 12px;
    padding: 5px;
    border-radius: 5px;
    resize: none;
    font-size: 1.2em;
}

.chatInput:focus {
  background-color: #8cc63f;
}

.chatter {
  font-size: 1em;
  background-color: #8cc63f;
  margin-top: 7px;
  padding: 7px 10px;
  border-radius: 3px;
  border: 1px solid black;
}

.chats {
  width: 100%;
  align-content: center;
}

.chats h2 {
  width: 100%;
  position: absolute;
  align-self: center;
  text-align: center;
}

.message {
  padding: 2px;
  border: 1px solid black;
  border-radius: 4px;
  background-color: white;
  margin: 5px;
  list-style-type: none;
}
